<article class="post">
    <div class="title">
        {{title}} <span class="category">Category: {{category}}</span>
    <div class="content">{{content}}</div>
    </div>
<div class="commentInfo">
  {{vote_count}} {{format_plural "vote" vote_count}} by {{user.username}} on {{format_date created_at}}
  |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
</div>
</article>